<a href="https://colab.research.google.com/github/MMillward2012/deepmind_internship/blob/main/notebooks/1_data_processing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import torch
device = torch.device("mps") if torch.backends.mps.is_available() else torch.device("cpu")

x = torch.tensor([1, 2, 3], device=device)
print(x)
print(f"Running on device: {device}")

tensor([1, 2, 3], device='mps:0')
Running on device: mps

In [1]:
%cd ..

/Users/matthew/Documents/deepmind_internship

In [13]:
data = pd.read_csv('data/FinancialPhraseBank/all-data.csv', 
                   encoding='unicode_escape',
                   names=['Sentiment', 'Text'])
data.head()

  Sentiment                                               Text
0   neutral  According to Gran , the company has no plans t...
1   neutral  Technopolis plans to develop in stages an area...
2  negative  The international electronic industry company ...
3  positive  With the new production plant the company woul...
4  positive  According to the company 's updated strategy f...

In [2]:
!ls

README.md        models           results
data             notebooks        src
figures          requirements.txt venv-py311

In [ ]:
df = pd.read_csv('data/FinancialAuditor/test.csv', encoding='unicode_escape')
df = df.rename(columns={'label': 'Sentiment', 'sentence': 'Text'})
label_map = {0: 'negative', 1: 'neutral', 2: 'positive'}
df['Sentiment'] = df['Sentiment'].map(label_map)
df = df[['Sentiment', 'Text']]
# df.to_csv('data/FinancialAuditor/test_updated.csv', index=False)
df.head()

  Sentiment                                               Text
0  positive  TeliaSonera TLSN said the offer is in line wit...
1  positive  STORA ENSO , NORSKE SKOG , M-REAL , UPM-KYMMEN...
2  positive  Clothing retail chain Sepp+Ã±l+Ã± 's sales inc...
3  positive  Lifetree was founded in 2000 , and its revenue...
4  positive  Nordea Group 's operating profit increased in ...

In [ ]:
df = pd.read_csv('data/FinancialAuditor/train.csv', encoding='unicode_escape')
df = df.rename(columns={'label': 'Sentiment', 'sentence': 'Text'})
label_map = {0: 'negative', 1: 'neutral', 2: 'positive'}
df['Sentiment'] = df['Sentiment'].map(label_map)
df = df[['Sentiment', 'Text']]
# df.to_csv('data/FinancialAuditor/train_updated.csv', index=False)
df.head()

  Sentiment                                               Text
0  positive  Altia 's operating profit jumped to EUR 47 mil...
1  positive  The agreement was signed with Biohit Healthcar...
2  positive  Kesko pursues a strategy of healthy , focused ...
3   neutral  Vaisala , headquartered in Helsinki in Finland...
4   neutral  Also , a six-year historic analysis is provide...

In [21]:
import pandas as pd
import os

parquet_folder = "./data/FinancialClassification"
save_folder = "data/FinancialClassification"
os.makedirs(save_folder, exist_ok=True)

for split in ["train", "test"]:
    parquet_path = os.path.join(parquet_folder, f"{split}-00000-of-00001-2.parquet")
    csv_path = os.path.join(save_folder, f"{split}.csv")

    print(f"Converting {parquet_path} to {csv_path}...")
    df = pd.read_parquet(parquet_path, engine="fastparquet")
    df.to_csv(csv_path, index=False)

Converting ./data/FinancialClassification/train-00000-of-00001-2.parquet to data/FinancialClassification/train.csv...
Converting ./data/FinancialClassification/test-00000-of-00001-2.parquet to data/FinancialClassification/test.csv...

In [ ]:
df = pd.read_csv('data/FinancialClassification/train.csv', encoding='unicode_escape')
df = df.rename(columns={'labels': 'Sentiment', 'text': 'Text'})
label_map = {0: 'negative', 1: 'neutral', 2: 'positive'}
df['Sentiment'] = df['Sentiment'].map(label_map)
df = df[['Sentiment', 'Text']]
# df.to_csv('data/FinancialClassification/train_updated.csv', index=False)
df.head()

  Sentiment                                               Text
0  negative  Finnish airline Finnair is starting the tempor...
1   neutral  The corresponding increase in the share capita...
2  negative  In the third quarter of fiscal 2008 Efore swun...
3   neutral  ALEXANDRIA , Va. , Oct. 15 -- Aaron Moss of Ha...
4   neutral  Vaisala Oyj Stock exchange release 26.03.2010 ...

In [ ]:
df = pd.read_csv('data/FinancialClassification/test.csv', encoding='unicode_escape')
df = df.rename(columns={'labels': 'Sentiment', 'text': 'Text'})
label_map = {0: 'negative', 1: 'neutral', 2: 'positive'}
df['Sentiment'] = df['Sentiment'].map(label_map)
df = df[['Sentiment', 'Text']]
# df.to_csv('data/FinancialClassification/train_updated.csv', index=False)
df.head()

  Sentiment                                               Text
0   neutral  COPYRIGHT AFX News and AFX Financial News Logo...
1   neutral  Satama and Trainers ' House will remain as nam...
2  negative  Prices and delivery volumes of broadband produ...
3  positive  When open next year , it will be the largest f...
4   neutral  The tower 's engineers have created an 18 degr...